# PostgreSQL / Supabase
DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Auth
JWT_SECRET=dae3e910-cf64-4c06-adec-989396bc1f3e
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Email
SENDGRID_API_KEY=
